<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="Description" CONTENT="moder meditation scheduler with timer - made by a minimalist for minimalists">
        <meta name="robots" content="index,follow">
        {% load static %} 
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>meditation scheduler</title>
        <style>
            a:hover {text-decoration: none;}
            a:hover {color: black;} 
            a:visited {color: black;}
            a {color: black;}
        </style>
        
    </head>
    <body class='w-75 mx-auto' >
        <div class="row border-bottom">
            <div class="container align-items-center">
                <div class="col text-center p-5 mt-5 mb-5">
                    <a href="{% url 'index' %}"><h1>minimalistic meditation scheduler</h1></a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}

        <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>window.onhashchange = function() {
            $('.buttonable').css('color', 'black');
        };
        $('.buttonable').css('cursor', 'pointer');
        $(".buttonable").hover(function(){
        $(this).css("color", "gray");
        }, function(){
        $(this).css("color", "black");
        });
        </script>   
        {% block scripts %}
        {% endblock %}
    </body>
</html>
