{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center p-5">
<iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/iN6g2mr0p3Q?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% if videos %}
<br/>
<p style="font-size: 18px;">You may also try some videos which will guide you through meditation</p>
{% for vid in videos %}
    <a href="https://youtube.com/watch?v={{vid.id}}">{{vid.title}}</a></br>
{% endfor%}
{% endif %}
{% endblock %}