{% extends 'base.html' %}
{% block content %}
{% if spotify_data %}
<div class="row align-items-center border-bottom">
    {% for playlist in spotify_data %}
    <div class="col text-center p-3">
        <iframe src="https://open.spotify.com/embed/{{playlist.type}}/{{playlist.id}}?theme=0" width="300" height="380"
            frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    {% endfor %}
</div>
<div class="container">
    <div class="row row-cols-3">
        <form action="{% url 'guided_meditations' %}" method="get">
            <div class="row mb-3">
                <div class="input-group mb-3">
                    <input class="btn btn-outline-secondary" type="submit" value="reload" />
                    <div class="vr"></div>
                    <input name="query" type="text" class="form-control" placeholder="guided meditation"
                        aria-label="keyword">
                </div>
            </div>
            <div class="row mb-3">
                <select name="n" class="form-select form-select-lg mb-3" aria-label="select n">
                    <option value="3">3 per page</option>
                    <option value="5">5 per page</option>
                    <option value="10">10 per page</option>
                </select>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}