{% extends 'base.html' %}
{% block content %}
    <div class="row align-items-center border-bottom">
        <div class="col text-center p-5">
            <a href="{% url 'timer_view' %}"><h2 class="buttonable">timer</h2></a>
        </div>
    </div>
    <div class="row align-items-center border-bottom">
        <div class="col text-center p-5">
            <a href="{% url 'guided_meditations' %}"><h2 class="buttonable" href="{% url 'guided_meditations' %}">guided meditations</h2></a>
        </div>
        <div class="col text-center p-5">
            {% if user.is_authenticated %}
            <div id="go_schedules" ><a href="{% url 'show_schedules' %}"><h2 class="buttonable">see your schedules</h2></a></div>
            <a href="{% url 'logout_view' %}" id="logout" class="buttonable"><h5>logout</h5></a>
            {% else %}
            <div id="login" class="buttonable"><h2>log in</h2></div>
            <div id="register" class="buttonable"><h5>sign up</h5></div>
            {% endif %}
        </div>
    </div>
    <div class="row align-items-center border-bottom">
        <div class="col text-center p-5">
            <a href="{% url 'explanation' %}"><h2 class="buttonable" href="{% url 'explanation' %}">how to meditate?</h2></a>
        </div>
    </div>
    <footer class="footer fixed-bottom">
        <div class="container">
          <span class="text-muted">
            {% if user.is_authenticated %}
            <p>welcome {{user.username}}</p>
            {% else %}
            <p>welcome stranger</p>
            {% endif %}</span>
            <p style="font-size: 12px">{{quote}}" - {{author}}</p>
        </div>
      </footer>
    <div id="loginModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">				
                    <h4 class="modal-title text-center">hi, can't wait to meditate!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="auth_error" style="display: none; color: red;">user does not exist or wrong password</div>

                    <form id="login_form">
                        <div class="form-group">
                            <i class="fa fa-user pb-3"></i>
                            <input type="text" class="form-control" id="username" name='username' placeholder="username" required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock pb-3"></i>
                            <input type="password" class="form-control" id="password" name='password' placeholder="password" required="required">					
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-dark btn-block btn-lg" value="login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>        
    <div id="registerModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">				
                    <h4 class="modal-title text-center">hi, can't wait to meet you!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="signup_error" style="display: none; color: red;">something went wrong</div>
                    <div id="passwords_match" style="display: none; color: red;">passwords must match</div>
                    <form id="sign_up_form">
                        <div class="form-group">
                            <i class="fa fa-user pb-3"></i>
                            <input type="text" class="form-control" id="newusername" name='newusername' placeholder="username" required="required" minlength=5>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-envelope pb-3"></i>
                            <input type="email" class="form-control" id="email" name='email' placeholder="email" required="required" minlength=5>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock pb-3"></i>
                            <input type="password" class="form-control" id="newpassword" name='newpassword' placeholder="password" required="required" minlength=5>					
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock pb-3"></i>
                            <input type="password" class="form-control" id="newpassword2" name='newpassword2' placeholder="repeat password" required="required">					
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-dark btn-block btn-lg" value="sign up">
                        </div>
                        <div class="row justify-content-center">
                            <div id="sign_up_finish" style="display: none;">
                                <i class="fa fa-check fa-3x" aria-hidden="true"></i>
                            </div>
                            <div id="sign_up_load" class="spinner-border" role="status" style="display: none;">
                                <span class="sr-only">loading...</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
{% block scripts %}
<script>
    $('#login').click(function (e) {
        $('#loginModal').modal()
    });
    $('#register').click(function (e) {
        $('#registerModal').modal()
    });
    $('#logout').click(function (e) {
        $('#registerModal').modal()
    });
    $("#login_form").submit(function(e){
        e.preventDefault();
        $.post( "{% url 'login_view' %}", 
         { csrfmiddlewaretoken: '{{ csrf_token }}', 
           username: $('#username').val(),
           password: $('#password').val()
         },  
         function(data, statusText, xhr) {
             if(xhr.status == 200){ 
                location.reload();
             }
             else{
                $('#auth_error').css('display', 'block');
             }
        });
    });
    $("#sign_up_form").submit(function(e){
        e.preventDefault();
        if ($('#newpassword').val() != $('#newpassword2').val())
            {
                $('#passwords_match').css('display', 'block');
            }
        else{
        $('#sign_up_load').css('display', 'block');  
        $.post( "{% url 'sign_up_view' %}", 
         { csrfmiddlewaretoken: '{{ csrf_token }}', 
           username: $('#newusername').val(),
           password: $('#newpassword').val(),
           email: $('#email').val()
         },  
         function(data, statusText, xhr) {
             if(xhr.status == 200){ 
                $('#sign_up_load').css('display', 'none');  
                 $('#sign_up_finish').css('display', 'block');  
                 setTimeout(function(){ location.reload(); }, 3000);
             }
             else{
                $('#signup_error').css('display', 'block');
             }
        });
        }
        
    });

</script>
{% endblock %}
