{% extends 'base.html' %}
{% block content %}
<form id="schedule_form" action="{% url 'create_schedule' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div id="check_days" class="d-flex justify-content-between align-items-center mt-5">
            {% for day in days %}
            <div class="form-check form-check-inline ">
                <input class="form-check-input" type="checkbox" name="{{ day }}" id="{{ day }}">
                <label class="form-check-label display-4" for="{{ day }}">{{ day }}&nbsp;</label>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="form-group p-3">
                <label for="time">time</label>
                <input type="time" class="form-control" id="time" name="time" placeholder="10:00"
                    pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$" required>
            </div>
            <div class="form-group p-3">
                <label for="inputPassword4">duration</label>
                <input type="number" class="form-control" id="duration" name="duration" placeholder="15" min="1"
                    max="120" required>
            </div>
            <div class="form-group p-3">
                <label for="inputPassword4">name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="lunch break headspace"
                    required>
            </div>
        </div>
        <div id="name_error_placeholder" class="text-center"></div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <a role="button" href="{% url 'index' %}" class="btn btn-lg btn-light pl-5 pr-5 pt-3 pb-3 m-5">return to top</a>
            <button id="btn_confirm" type="submit" class="btn btn-lg btn-dark pl-5 pr-5 pt-3 pb-3 m-5">save schedule</button>
        </div>
    </div>
</form>
<div id="required_days" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">you have to select at least one day</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
    $('#schedule_form').submit(function (e) {
        if ($('#check_days :checkbox:checked').length <1)
            e.preventDefault();
            $('#required_days').modal()
        
    });
    $("#btn_confirm").click(function(e){
    e.preventDefault();
    $.get( "{% url 'get_schedule_available' %}", 
     { csrfmiddlewaretoken: '{{ csrf_token }}', 
       name: $('#name').val()
     }).done(
     function(data,statusText, xhr) {
         if(xhr.status == 204){ 
            $('#schedule_form').submit();
         }
         else{
            e.preventDefault();
            $('#name_error_placeholder').html("<p>choose a different name</p>");
         }
    })});
</script>
{% endblock %}