{% extends 'base.html' %}
{% block content %}
    {% if schedule_list %}
    {% for schedule in schedule_list %}
    <div class="row align-items-center border-bottom" style="height: 200px;">
        <div class="col text-left p-3">
            <p class="lead text-muted">
                {{ schedule.name }}
            </p>
        </div>
        <div class="col text-center p-3">
            <p class="lead">
                <script>
                    var days = '{{ schedule.days }}';
                    document.write(days.toString().replace(/(.{3})/g,"$1 | ").slice(0,-2));
                </script>
            </p>
        </div>
        <div class="col text-center p-3">
            <p class="lead">
                {{ schedule.time }}
            </p>
        </div>
        <div class="col text-center p-3">
            <p class="lead text-muted">
                {{ schedule.duration }} minutes
            </p>
        </div>
        <div class="col text-center p-3 mb-3">
            <button  class="btn btn-outline-dark delete_btn" value="{{ schedule.name }}">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="display-4">no schedules are available.</p>
    {% endif %}
    <br/>
    <a href="{% url 'manage_schedules'%}" class="buttonable">create new schedule</a> <br/>
    <a href="{% url 'download_schedules'%}" class="buttonable">download your schedules (pdf)</a>
    <br/>
    <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">confirm operation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="schedule_delete_txt"></p>
            </div>
            <div class="modal-footer">
              <button id="confirm_delete" type="button" class="btn btn-dark ">yes</button>
              <button type="button" class="btn btn-dark " data-dismiss="modal">no</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block scripts %}
<script>
var sch_name;

$('.delete_btn').click(function (e) {
    sch_name = e.currentTarget.value;
    $('#deleteModal').modal();
    $('#schedule_delete_txt').html("do you want to delete schedule '" +e.currentTarget.value +"'?");
});

$("#confirm_delete").click(function(e){
    $.post( "{% url 'delete_schedule' %}", 
     { csrfmiddlewaretoken: '{{ csrf_token }}', 
       schedule_name: sch_name
     },  
     function(data,statusText, xhr) {
         if(xhr.status == 203){ 
            location.reload();
         }
         else{
            alert("couldn't delete this schedule - please contact admin");
         }
    });
});
</script>
{% endblock %}