    <html>
        <head>
            <style>
                {% load static %}  
                @font-face {
                    font-family: 'raleway';
                    src: url('{% static "fonts/Raleway-Regular.otf" %}') 
                        format('opentype');
                }
                @font-face {
                    font-family: 'raleway';
                    src: url('{% static "fonts/Raleway-Light.otf" %}') 
                        format('opentype');
                    font-weight: lighter;
                }
                @font-face {
                    font-family: 'raleway';
                    src: url('{% static "fonts/Raleway-Thin.otf" %}') 
                        format('opentype');
                    font-weight: 100;
                }
                h2{
                    font-family: 'raleway', sans-serif;
                }
                ul,li{
                    font-family: 'raleway', sans-serif;
                    font-weight: 100 ;
                }
                p{
                    font-family: 'raleway', sans-serif;
                    font-weight: lighter; 
                    color: gray;
                }
            </style>
        </head>
        <body style="width: 500px; margin:0 auto; padding: 20px;">
            <h2>{{username}} meditation schedule</h2><br/>
            {% for schedule in schedule_list %}
            <ul>
                <li>{{ schedule.name }}&nbsp;each {{schedule.dateToString}}&nbsp;at {{ schedule.time }}&nbsp;for {{ schedule.duration }} minutes
                </li>
            </ul>
        {% endfor %}
        <br/><br/>
        <p>the best meditation is effortless. the best meditation is a gentle awareness.</p>
         
        </body>
    </html>
