{% extends 'base.html' %}
{% block content %}
<div id="countdown" >
    <div class="d-flex justify-content-center">
        <div class="btn-group">
        <button id="addMinute" class="btn m-3 p-3 bg-transparent shadow-none"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></button>
        <button id="subMinute" class="btn m-3 p-3 bg-transparent shadow-none"><i class="fa fa-minus fa-3x" aria-hidden="true"></i></button>
    </div>
    </div>
    <div class="d-flex justify-content-center">
        <div id="values"><span id="time" class="display-1"></span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
    <div>
        <div class="btn-group">
        <button id="startButton" class="btn bg-transparent m-3 p-3 shadow-none"><i class="fa fa-play fa-4x"></i></button>
        <button id="stopButton" class="btn bg-transparent m-3 p-3 shadow-none"><i class="fa fa-stop fa-4x"></i></button>
    </div>
    </div>
    </div>
</div>
<div class="row justify-content-center">
    <p class="lead text-muted">you will hear a long, calm bell at the end</p>
</div>
{% endblock %}
{% block scripts %}
{% load static %}  
<script src="{% static '/lib/easytimer/dist/easytimer.js' %}"></script>
<script src="{% static '/timer.js' %}"></script>
<script>
    timer.addEventListener('targetAchieved', function (e) {
        const audio = new Audio("{% static '/ding.mp3' %}");
        audio.play();
    });
</script>
{% endblock %}